In [5]:
#1966 프린터 큐
# 못품
T = int(input())

for i in range(T):
  N, M = map(int, input().split())
  arr = list(map(int, input().split()))

  R = 1
  bools = False

  for i in range(M+1,N):
    if arr[i] > arr[M]:
      R += 1
    elif arr[i] == arr[M]:
      bools = True
      R += 1

  if bools:
    print(R -1)
  else:
    print(R)

1
4 1
2 1 3 1
2

In [12]:
#1966 프린터 큐
# 못품
T = int(input())

for i in range(T):
  N, M = map(int, input().split())
  arr = list(map(int, input().split()))

  R = 1
  bools = False

  if len(list(set(arr))) == 1:
    print(M + 1)
  
  else:
    for i in range(N):
      if arr[i] > arr[M]:
        R += 1

    for i in range(M+1,N):
      if arr[i] == arr[M]:
        bools = True
        R += 1

    if bools:
      print(R -1)
    else:
      print(R)

2
1 0
1
1
2 1
2 1
2

In [ ]:
#1966 프린터 큐

T = int(input())

for i in range(T):
  N, M = map(int, input().split())
  arr = list(map(int, input().split()))

In [26]:
# 1978 소수 찾기

N = int(input())
arr = list(map(int, input().split()))
prime = [i for i in range(2,1001)]

for i in range(2,round(1000**(1/2))):
  for j in range(2,1000//i+1):
    if i*j in prime:
      prime.remove(i*j)
R = 0
for i in arr:
  if i in prime:
    R += 1

print(R)

4
63 19 62 20
1